body {}

.about {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
}

.about__box {
    /* background-color: #ffffff;
    border-radius: 10px; */
    /* box-shadow: -1px 4px 33px 14px rgba(34, 60, 80, 0.2); */
    padding: 30px;
    max-width: 1150px;
}

.about__text--strong {
    line-height: 30px;
    display: block;
}

.about__text {
    display: block;
    padding-bottom: 20px;
    line-height: 30px;
    color: rgb(32, 31, 31);
}


.about__menu-title {
    display: block;
    margin-bottom: 10px;
}

.about__menu-list {
    list-style: square;
}

.about__menu-item {
    list-style-type: disc;
    margin-bottom: 10px;
}