body {}

.about {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}

.about__title {
    margin: 20px 0;
}

.about__box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    max-width: 1150px;
    box-shadow: -1px 4px 33px 14px rgba(34, 60, 80, 0.2);
}

.about__title {
    margin-top: 50px;
    margin-bottom: 40px;
}

.about__text--strong {
    line-height: 30px;
    display: block;
}

.about__text {
    display: block;
    padding-bottom: 20px;
    line-height: 30px;
}


.about__menu-title {
    display: block;
    margin-bottom: 10px;
}

.about__menu-list {
    list-style: square;
}

.about__menu-item {
    list-style-type: disc;
    margin-bottom: 10px;
}