@font-face {
    font-family: 'Libertinus Serif Display';
    src: url('../fonts/Libertinus/LibertinusSerifDisplay-Regular.otf');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/Libertinus/LibertinusSerifDisplay-Regular.otf') format('embedded-opentype'),
        /* IE < 9 */
        /* url('../fonts/Libertinus/caviar_dreams.woff2') format('woff2'), */
        /* Super Modern Browsers */
        /* url('../fonts/Libertinus/caviar_dreams.woff') format('woff'), */
        /* Firefox >= 3.6, any other modern browser */
        /* url('../fonts/Libertinus/caviar_dreams.ttf') format('truetype'), */
        /* Safari, Android, iOS */
        /* url('../fonts/Libertinus/caviar_dreams.svg#caviar_dreams') format('svg'); */
        /* Chrome < 4, Legacy iOS */
}