.management__wrapper {
    float: left;
}

.management__title {
    margin-top: 50px;
    margin-bottom: 45px;
}

.management__list {
    /* background-color: #F1FAFF; */
    padding: 20px 20px;
    box-shadow: -1px 4px 33px 14px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
}

.management__box {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px 10px;
    margin-bottom: 30px;
}

.management__item-1 {
    display: flex;
}

.management__name {
    margin-bottom: 10px;
}

.management__descr {
    color: rgba(0, 0, 0, 0.829);
    margin-bottom: 10px;
}

.management__item-text--wrapper {
    margin-left: 15px;
}

.management__contact-link--wrapper {
    margin-bottom: 5px;
}
.management__contact-link {
    color: #000;
}
.management__contact-icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 2px;
}
.management__contact-icon path{
    fill: #000;
}
.management__contact-icon.phone{
    width: 22px;
    height: 22px;
    margin-bottom: 3px;
    margin-right: 0;
}