.management__wrapper {
    font-family: 'Libertinus Serif Display';
    margin-bottom: 120px;
    margin-top: 70px;
}
.management__list{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

/* MANAGEMENT ITEM - 1 */
.manegement__info-cover {
    position: relative;
}

.management__item-1 {
    /* border: 1px solid rgba(6, 5, 5, 0.484); */
    display: flex;
    /* padding: 20px 30px; */
    margin-bottom: 30px;
    transition: .6s all;
    box-shadow: 13px 9px 19px 5px rgba(34, 60, 80, 0.2);
}

.management__item-1:hover {

}

.management__item-img--wrapper {
    width: 250px;
    height: auto;
}

.management__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.management__name {
    margin-top: 20px;
    height: 50px;
    font-weight: 500;
    letter-spacing: 2px;
}

.management__descr {
    font-size: 18px;
    letter-spacing: 1px;
}

.management__links {
    position: absolute;
    bottom: 20px;
    left: 212px;
    display: flex;
    flex-direction: column;
}

.management__contact-link+.management__contact-link {
    margin-top: 15px;
}

.management__btn {
    display: block;
}



/* MANAGEMENT ITEM - 2 */
.management__item-2 {
    position: relative;
}

.management__item-img--wrapper {}

.management__item-img {
    width: 80px;
    height: 80px;
    width: 100%;
}

.management__info-social {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.management__info-social-cover {
    width: 37px;
    height: 37px;
    display: flex;
    place-content: center;
    place-items: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.144);
}

.management__info-social-cover:hover {
    background-color: #43c1f78a;
    border: none;
}

.management__info-social-icons {
    width: 25px;
    height: 25px;
}

.management__name {
    margin-bottom: 10px;
}

.management__descr {
    color: rgba(0, 0, 0, 0.829);
    margin-bottom: 10px;
    height: 81px;
}

.management__item-text--wrapper {
    padding-left: 15px;
    width: 100%;
}

.management__contact-link--wrapper {
    margin-bottom: 5px;
}

.management__contact-link {
    color: #000;
}

.management__contact-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 2px;
}

.management__contact-icon.phone {
    width: 22px;
    height: 22px;
    margin-bottom: 3px;
    margin-right: 0;
}

.management__item-2 {
    width: 1200px;
    height: auto;
    background: #fff;
    padding: 20px 20px 20px 20px;
    margin: 50px auto 20px auto;
    border-radius: 20px;
}

.management__info-cover {
    display: flex;

}

.management__info-1 {
    margin-bottom: 30px;
}

.management__info-1--title {
    margin-bottom: 10px;
}

.management__info-2 {
    /* margin-top: 30px; */
}

.management__info-text--globalwrapper {
    margin-left: 30px;
    margin-top: 30px;
}

.management__info-2--title {
    margin-bottom: 10px;
}

.modal-dismiss {
    position: absolute;
    top: -10px;
    right: -5px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    place-content: center;
    place-items: center;
}

.modal-dismiss:hover {
    opacity: .7;
}

.modal-dismiss-img {
    width: 35px;
    height: 35px;
}