.request__container {
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}

.request__part {
    display: flex;
    justify-content: space-around;
    z-index: 0;
    position: relative;
    margin-bottom: 30px;
}

.request__part::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(50, 73, 137, 0.935);
    top: 35%;
    transform: translateY(-50%);
    z-index: 0;
}

.request__part-item-number {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    place-content: center;
    color: #000;
    border: 1px solid #29658B;
    background: #fff;
    border-radius: 50%;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.request__part-active {
    background: #29658B;
    color: #fff;
    position: relative;
}

.request__title {
    font-weight: 500;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

/* request list */

.request__list-item {
    border-top: 1px solid rgb(192, 192, 192);
    padding: 30px 0;
    display: flex;
    align-items: center;
}

.request__list-item-title {
    display: block;
    letter-spacing: 1px;
    font-size: 18px;
    width: 50%;
}

.request__list-item-title-1 {
    letter-spacing: 1px;
    font-size: 18px;
    width: 25%;
}

.request__list-item-input-1 {
    margin-right: 110px;
}

.request__list-item-input {
    min-width: 295px;
}

.request__list-item-select {
    margin-right: 20px;
}

.request__list-item-textarea {
    height: 75px;
    padding-left: 15px;
    padding-right: 5px;
    min-width: 50%;
    min-width: 50%;
    width: auto;
    max-width: 50%;
}

.request__list-item-upload {
    display: none;
}

.request__upload-label {
    color: #fff;
    background-color: rgba(50, 73, 137, 0.935);
    padding: 6px 14px;
    width: 200px;
    margin-left: 20px;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    padding-left: 15px;
    cursor: pointer;
    position: relative;
}

.request__upload-label::after {
    content: '';
    position: absolute;
    display: block;
    background-image: url('../images/services/request/download.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 47%;
    transform: translateY(-50%);
}


.request__control {
    padding: 7px 10px;
    border: none;
    border-bottom: 1px solid rgba(50, 73, 137, 0.935);
    outline: none;
    border-radius: 5px;
}

.request__btn-cover {
    display: flex;
    justify-content: end;
}

.request__btn {
    display: block;
    font-size: 16px;
    background-color: rgba(50, 73, 137, 0.935);
    border-radius: 30px;
    padding: 6px 14px;
    margin-top: 40px;
    color: #fff;
    margin-bottom: 50px;
    margin-right: 10px;
}

.request__btn2 {
    background-color: rgb(81, 131, 188);
}

.request__btn:hover, .request__btn2:hover {
    color: #fff;
}


/* Request 2 */
.request__icon {
    position: relative;
    padding-left: 25px;
}

.request__icon-1::before {
    content: '';
    position: absolute;
    background-image: url('../images/services/request/high-voltage.png');
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 44%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
}

.request__icon-2::before {
    content: '';
    position: absolute;
    background-image: url('../images/services/request/water-drop.png');
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 44%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
}

.request__icon-3::before {
    content: '';
    position: absolute;
    background-image: url('../images/services/request/gas-bottle.png');
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 44%;
    transform: translateY(-50%);
    width: 21px;
    height: 21px;
}

.request__icon-4::before {
    content: '';
    position: absolute;
    background-image: url('../images/services/request/motorway.png');
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 44%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
}

.request__icon-5::before {
    content: '';
    position: absolute;
    background-image: url('../images/services/request/tracks.png');
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 44%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
}

/* Request 3 */

.request__radio-cover {
    margin-left: 30px;
}

.request__radio {
    margin-left: 15px;
    padding: 30px;
}

/* Request 4 */

.request__list-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.request__list-map-title {
    font-weight: 500;
    margin-bottom: 20px;
}

.request__list-map-text {
    margin-bottom: 10px;
}

.request__list-map-link {
    margin-bottom: 10px;
    border: 1px solid rgb(53, 74, 177);
    background: transparent;
    padding: 5px 40px;
    border-radius: 30px;
    transition: 0.5s;
}

.request__list-map-link:hover {
    background-color: #264687;
    color: #fff;
}

.request__list-upload-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.request__list-upload-text {
    max-width: 596px;
    color: #000;
    margin-bottom: 30px;
}

.request__list-upload-btn {}

.request__list-map-img {
    max-width: 360px;
}

.request__list-upload-btn {
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #000;
    transition: .5s all;
}

.request__list-upload-btn:hover {
    color: #fff;
    background-color: #264687;
}

.request__list-upload {
    display: none;
}

.request__list-captcha-cover {
    margin-left: 140px;
}

.request__list-captcha-input {
    width: 400px;
    padding: 0 10px;
    margin-bottom: 30px;
}

.request__list-checkbox-cover {
    margin-left: 100px;
}

.request__list-checkbox {
    font-size: 18px;
}

/* Request change */
.request__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 20px;
}

.request__change-input-cover {
    display: flex;

}

.request__change-input-cover label {
    display: block;
    font-size: 18px;
}

.request__change-input {
    width: 420px;
    margin-top: 10px;
}

.request__change-btn {
    color: #fff;
    background-color: #264687;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    padding: 5px 5px;
    padding-left: 20px;
    position: relative;
}

.request__change-btn::after{
    content: '';
    position: absolute;
    background-image: url('../images/request_change/checkmark.png');
    background-repeat: no-repeat;
    background-size: cover;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
}

.request__change-btn:hover {
    color: #fff;
}

/* Modal */
.request__modal {
    display: none;
    position: absolute;
    top: 0;
    left: 300px;
    background-color: #fff;
    padding: 10px 40px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.request__modal-map {
    max-width: 568px;
}