body {
    font-family: 'Open Sans', sans-serif;
}

label {
    display: inline-block;
    margin-bottom: 6px;
    margin-top: 6px;
}

select {
    display: block;
    padding-left: 10px;
}

.resume__btn-wrapper {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
}

.resume__btn-choice+.resume__btn-choice {
    margin-left: 20px;
}

.resume__cover {
    /* margin-top: 70px; */
    box-shadow: 0px 0px 20px 4px rgba(34, 60, 80, 0.2);
    padding: 40px 30px;
    font-size: 18px;
    border-radius: 7px;
    margin-bottom: 60px;
}

.resume__form {
    width: 100%;
    border: none;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 7px 12px;
    background:
        linear-gradient(90deg, #0048b4, #0048b4) center bottom/0 2px no-repeat,
        linear-gradient(90deg, rgb(191, 199, 218), rgb(191, 199, 218)) left bottom/100% 2px no-repeat,
        linear-gradient(90deg, #ddebf74c, #ddebf74c) left bottom/100% no-repeat;
    transition: background-size .3s ease;
    height: 34px;
    font-size: 16px;
    display: block;
    outline: none;
    /* box-shadow: 0px -1px 10px -1px rgba(34, 60, 80, 0.2) inset; */
}

.resume__form:valid,
.resume__form:focus {
    background-size: 100% 2px, 100% 2px, 100%;
}

.resume__form-active {
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}



.resume__title {
    padding-bottom: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #2781b9;
}

.resume__form-wrapper {
    margin-bottom: 10px;
}

.resume__form-date {
    display: flex;
    justify-content: space-between;
}

.resume__form-date-item {
    width: 270px;
}

.resume__place-of-birth {
    display: flex;
    justify-content: space-between;
}

.regions__select {
    margin-right: 20px;
}

.resume__place-item {
    margin-right: 20px;
}

.resume__form-contact-number {
    display: flex;
    justify-content: space-between;
}

.resume__form-contact-item {
    width: 270px;
}

.resume__form-education {
    display: flex;
    justify-content: space-between;
}

.resume__form-graduate {
    display: flex;
}

.resume__form-graduate-item {
    width: 200px;
    margin-right: 20px;
}

.resume__form-specialization {
    width: 630px;
}

.resume__addition {
    display: flex;
    justify-content: space-between;
}

.resume__form-btn-cover {
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 100%;
    width: 420px;
    height: auto;
    display: block;
    padding: 10px;
    font-size: 16px;
}

.resume__submit-cover {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.resume__btn {
    width: 420px;
    border: none;
    background: #2e539e;
    padding: 5px 0;
    color: #fff;
    border-radius: 10px;
    position: relative;
    /* box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2) inset; */
}

.resume__download::after {
    content: '';
    position: absolute;
    display: block;
    background-image: url('../images/resume/download.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    z-index: 10;
    left: 110px;
    top: 50%;
    transform: translateY(-50%);
}

.resume__upload::after {
    content: '';
    position: absolute;
    display: block;
    background-image: url('../images/resume/upload.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    z-index: 10;
    left: 110px;
    top: 50%;
    transform: translateY(-50%);
}


.resume__send {
    background: #2e539e;
    border: none;
    color: #fff;
    padding: 0 30px 0 40px;
    height: 40px;
    border-radius: 10px;
    position: relative;
}

.resume__send::after {
    content: '';
    position: absolute;
    display: block;
    background-image: url('../images/resume/send.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    z-index: 10;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}