
.spirit__title{
    font-weight: 600;
    font-size: 26px;
    color: rgb(39, 39, 39);
    margin-bottom: 20px;
}

.spirit__container{
    margin-top: 30px;
    margin-bottom: 100px;
}

.spirit__text {
    color: #000;
    line-height: 30px;
    margin-bottom: 15px;
}

