html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Header */
ul,
li {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

h2 {
    color: #0093E9;
}

p {
    padding: 0;
    margin: 0;
}

/* NAVBAR TOP */
.navbar-top {
    background-color: rgba(8, 34, 80, 0.63);
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 0;
}

.menu__top-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 23px 0;
    z-index: -1;
    background-image: url('../images/menu_background.jpg');
    background-repeat: repeat-x;
    background-size: 100%;
}

/* HEADER SEARCH */
.header__search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    left: 0;
    z-index: 10;
    top: -3px;
}

.header__search-link {
    width: 22px;
    height: 22px;
}

.header__search-link+.header__search-link {
    margin-left: 15px;
}

.header__search-img {
    width: 22px;
    height: 22px;
}

.header__close {
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    margin-bottom: 2px;
}

.header__close-img {
    width: 30px;
    height: 30px;
}

.header__close.active {
    visibility: visible;
    opacity: 1;
}

.header__find {
    margin-right: 50px;
}

.header__searchbox {
    position: absolute;
    display: flex;
    width: 0;
    height: 100%;
    align-items: center;
    padding: 0 30px;
    background-color: rgb(39, 47, 118);
    visibility: hidden;
    opacity: 0;
    transition: .5s all ease-in-out;
    z-index: -1;
    left: 900px;
}

.header__searchbox.active {
    transition: .5s all;
    opacity: 1;
    visibility: visible;
    filter: blur(0px);
    width: 520px;
    left: 380px;
    z-index: 1;
    transition: .3s all ease-out;
}

.header__input {
    width: 88%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: rgb(39, 47, 118);
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}

.header__input::placeholder {
    color: #fff;
    letter-spacing: 3px;
    font-size: 16px;
}

.menu__top-list {
    display: flex;
    justify-content: center;
}

.menu__top-social {
    border-left: 1px solid #000;
    display: flex;
    margin-left: 14px;
    /*#6B7597*/
    /* justify-content: center;
    align-items: center; */
}

.menu__top-link {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
}

.menu__list-img {
    max-width: 26px;
    max-height: 26px;
    width: auto;
    height: auto;
}

/* NAVBAR BOTTOM */
/* Logo */
.logo__wrapper {
    max-width: 400px;
    height: 70px;
    margin-left: 40px;

}

.logo {
    display: block;
    max-width: 400px;
    width: 100%;
    height: 70px;
    position: absolute;
    /* top: 20px; */
}

/* MENU */
.dropdown {
    /* position: relative; */
    /* display: inline-block; */
    transition: 0.6s all;
    border-radius: 5px;
}

.navbar {
    box-shadow: 0px 19px 33px -5px rgba(34, 60, 80, 0.2);
    padding-top: 35px;
}

.header__banner {
    position: absolute;
    bottom: 0;
    z-index: -1;
    padding-top: 3px;
    /* background-image: url('../images/line1.jpg'); */
    background-position: top left;
    width: 100%;
}

.header__banner-disabled {
    background: none;
    padding: 0;

}

.navbar {
    background-color: #fff;
    z-index: 9;
    transition: all 0.3s;
    font-family: 'Open Sans', sans-serif;
    /* position: fixed;
    width: 100%;
    height: auto;
    top: 0; */
}

.navbar a,
.navbar-collapse a,
.navbar a:focus,
.navbar-collapse a:focus {
    color: rgb(0, 0, 0);
    transition: .3s;
}

.navbar .nav-item:nth-child(1) {
    margin-left: 110px;
}

.navbar .nav-item:nth-child(2) {
    padding-left: 20px;
}

.navbar .nav-item:nth-child(3) {
    padding-left: 20px;
}

.nav-item {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.navbar a:hover,
.navbar-collapse a:hover {
    color: #033A6F;
}

.nav-item-cover {
    position: relative;
    left: -200px;
    display: flex;
}

.menu__list {
    display: flex;
    position: absolute;
    font-weight: 400;
    left: 0;
    top: calc(100%);
    width: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    z-index: -1;
    transition: height .5s, visibility .1s, opacity .1s;
    box-shadow: 0px 34px 24px 0px rgba(34, 60, 80, 0.22);
}

.menu__list::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    opacity: 0;
    transition: 1s;
}

.dropdown:hover>.menu__list {
    opacity: 1;
    visibility: visible;
    height: 760px;
    transition: height .5s, visibility .3s, opacity .3s;
}

.dropdown:hover>.menu__list::after {
    opacity: 1;
    transition-delay: 0.2s;
}

.menu__list-title {
    opacity: 0;
    transition: 1s;
    width: 33.3%;
    padding-top: 65px;
    padding-right: 0px;
    height: 760px;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    background-image: url('../images/menu-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -26px 21px 23px -13px rgba(34, 60, 80, 0.2) inset;
}

.dropdown:hover .menu__list-title {
    opacity: 1;
    transition: 1s;
    transition-delay: 250ms;
}

.menu__list-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    margin-left: 40px;
    padding-top: 80px;
    align-content: start;
    height: 100%;
    margin-right: 30px;
}

.menu__list-item {
    opacity: 0;
}

.dropdown:hover .menu__list-item {
    opacity: 1;
    transition: 1s;
    transition-delay: 250ms;
}

.menu__list-link {
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 15px;
    width: 320px;
    text-align: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    height: 75px;
    text-align: left;
    border: 1px solid #ebedf2;
    position: relative;
    /* transition-delay: 250ms; */
    transition: 1s;
}

.menu__list-link::before {
    content: '';
    position: absolute;
    display: block;
    height: 10px;
    width: 10px;
    clip-path: polygon(0 0, 36% 55%, 0 100%, 100% 55%);
    background-color: #A3A6A9;
    right: 10px;
    transition: 1s;
}

.menu__list-link:hover:before {
    background-color: #02579A;
}

.menu__list-link:hover {
    color: rgb(0, 38, 108);
    border: 1px solid #02579A;
}

.menu__list-link--active {
    color: rgb(0, 38, 108);
    border: 1px solid #02579A;
}

.menu__list-link--active::before {
    background-color: #02579A;
    transition: 0.5s;
}

/* SUB MENU 1*/
.sub-menu__item {
    margin-left: 30px;
}

.sub-menu__link {
    display: block;
    color: #000;
    padding: 10px;
    font-size: 15px;
    max-width: 300px;
    text-align: left;
    position: relative;
}

.sub-menu__link::before {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    background-color: #000;
    left: -15px;
    top: 18px;
}

.sub-menu__link:hover {
    text-decoration: underline;
}

/* SUB MENU 2*/
.sub-menu__link-2 {
    display: block;
    color: #000;
    padding: 10px;
    font-size: 15px;
    max-width: 300px;
    text-align: left;
    position: relative;
}

.sub-menu__link-2::before {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    background-color: #000;
    left: -15px;
    top: 18px;
}

.sub-menu__link-2:hover {
    text-decoration: underline;
}

/* OTHER CONTENT */
.glasses {
    width: 50px;
    height: 10px;
    margin-left: 30px;
}

.volume {
    width: 30px;
    height: 50px;
    margin-left: 20px;
}

.lang {
    position: relative;
    margin-left: 30px;
    margin-top: 12px;
}

.lang a {
    color: rgb(0, 0, 0);
    display: block;
}

.menu__lang {
    position: absolute;
    background-color: #ffffff;
    display: none;
    /* width: 100px; */
    top: 30px;
    left: -15px;
    border-radius: 10px;
    box-shadow: -6px 6px 21px 1px rgba(34, 60, 80, 0.2);
}

.menu__lang-item {
    font-size: 16px;
}

.menu__lang-item+.menu__lang-item {
    border-top: 1px solid rgba(248, 228, 228, 0.3);
}

.menu__lang-link {
    display: block;
    color: rgb(0, 0, 0);
    padding: 5px 30px;
    text-align: center;
}

/* HIDDEN AND SHOW */
.hidden {
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100%);
    filter: blur(5px);
}

.show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}

/* SECTION HERO */
.news {
    height: 637px;
    position: relative;
}

.news__bg {
    position: absolute;
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
    top: 0;
    z-index: 0;
}

.news__content {
    position: absolute;
    z-index: 1;
    top: 80px;
    color: #fff;
    max-width: 457px;
}

.news__date {
    font-weight: 600;
    letter-spacing: 4.23px;
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 54px;
    margin-bottom: 30px;
    position: relative;
}

.news__date::before {
    content: '';
    position: absolute;
    bottom: auto;
    border-bottom: 1px solid #f9b95f;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 1px;
    width: 30px;
}

.news__title {
    font-size: 42px;
    padding: 0;
    font-weight: 500;
    color: #fff;
    font-family: 'Libertinus Serif Display';
}

.news__text {
    color: #fff;
    font-size: 22px;
    line-height: 29px;
    /* margin: 0;
    padding: 0; */
    font-weight: 400;
    margin: 20px 0;
    letter-spacing: 0.5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: 'Libertinus Serif Display';
}

.news__btn {
    display: block;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 12px;
    padding: 14px 20px;
    width: 174px;
    border: 1px solid #fff;
}

.news__btn:hover {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.229);
}

.overlay::before {
    content: '';
    position: absolute;
    background-color: #000;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.overlay::after {
    content: '';
    position: absolute;
    display: block;
    background: linear-gradient(to right, rgba(0, 0, 0, .6) 0, transparent 100%);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 0;
}

/* Recent */
.recent {
    /* height: 197px;
    width: 1000px;
    background: #000;
    margin: -127px 0 0 0; */
    background: transparent;
    z-index: 1;
}

.recent__wrapper {
    width: 0;
    height: 0;
    position: relative;
}

.recent__box {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 1400px;
    height: 194px;
    background: rgb(255, 255, 255);
    position: relative;
    top: -95px;
    left: 0;
    z-index: 1;
}

.recent__box::before {
    content: "";
    background: #fff;
    bottom: 0;
    box-shadow: 0 5px 8px -3px rgb(0 0 0 / 15%);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(2);
    transform-origin: right center;
    width: 100%;
    z-index: -1;
}

.recent__item {
    display: flex;
}

.recent__item:last-child {
    margin-right: 20px;
    padding-right: 20px;
}

.recent__item:not(:last-child) {
    border-right: 1px solid rgba(151, 151, 151, .2);
    padding-right: 30px;
    margin-right: 30px;
}

.recent__info {
    flex-grow: 1;
    max-width: 310px;
    margin-right: 26px;
}

.recent__date {
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.59;
    padding-left: 0;
    font-size: 12px;
    letter-spacing: 2.79px;
    margin-bottom: 12px;
}

.recent__text {
    color: #4574a1;
    font-family: 'Libertinus Serif Display';
    font-size: 18px;
    line-height: 1.2222222222;
    padding: 0;
    letter-spacing: 0.5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.recent__text:hover {
    text-decoration: underline;
}

.recent__img-link {
    display: block;
    width: 80px;
    height: 80px;
}

.recent__img-cover {
    height: 80px;
    width: 80px;
    overflow: hidden;
    border-radius: 5px;
}

.recent__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.line__cover {
    position: relative;
}

.line {
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: rgb(230, 232, 244);
    padding-top: 4px;
    opacity: .1;
}

section {
    box-shadow: 0px -19px 37px -20px rgb(230, 232, 244) inset;
}

/* PRICING OR INTERACTIVE */
.pricing {
    background-image: url('../images/bg_releases.jpg');
    background-repeat: repeat;
    padding-top: 300px;
    z-index: 1;
}

.interactive__title-cover {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Libertinus Serif Display';
    position: relative;
}

.interactive__title {
    line-height: 1.25;
    font-weight: 400;
}

.title {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 5.5px;
    text-transform: uppercase;
}

.interactive__title::after {
    content: '';
    position: absolute;
    display: block;
    width: 200px;
    height: 2px;
    background-color: #0093E9;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}

.interactive__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
}

.interactive__item {
    max-width: 330px;
    margin: 0 auto;
}

.interactive__item:nth-child(2) {
    transition-delay: 200ms;
}

.interactive__item:nth-child(3) {
    transition-delay: 300ms;
}

.interactive__item:nth-child(4) {
    transition-delay: 400ms;
}

.interactive__item {
    margin-right: 50px;
}

.interactive__img {
    max-width: 90px;
    height: 80px;
    margin: 0 auto;
}

.pricing__body-text--wrapper {
    height: 220px;
}

.pricing__body-text--wrapper p {
    margin-bottom: 10px;
}

.pricing-body__title {
    font-size: 20px;
    height: 100px;
    max-width: 300px;
    letter-spacing: .5px;
}

.btn__interactive {
    background-color: #005a9e;
    padding: 10px 20px;
    border-radius: 40px;
    color: #fff;
}

.btn__interactive:hover {
    opacity: .7;
    color: #fff;
}

/* UZBEKISTAN MAP OR VENUE*/
.venue {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../images/bg_releases.jpg');
    background-repeat: repeat;
    position: relative;
    z-index: 1;
}

.venue::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(36, 34, 134, 0.625); */
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
}

.uzb__map {}

#UZB372 {
    animation: pen 2s infinite ease;

}

@keyframes pen {
    0% {
        fill: #0497eca7;
    }

    50% {
        fill: #7c7c7c;
    }

    100% {
        fill: #0497eca7;
    }
}

.uzb__map-title {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Lbertinus Serif Display';
    text-transform: uppercase;
}

.uzb__map svg {
    filter: drop-shadow(6px 9px 8px #000);
}

.uzb__map svg path {
    /* fill: #00394f; */
    height: 652px;
    stroke: #eee;
    fill: #7c7c7c;
    stroke-width: .25;
    width: 1000px;
    transition: .6s all;
}

.uzb__map svg path:hover {
    fill: #0497eca7;
    cursor: pointer;
}

.region__container {
    position: relative;
    right: -80px;
    height: 0;
}

.venue__info-member {
    color: #fff;
    font-size: 28px;
    letter-spacing: 2px;
}

.venue-member-img {
    width: 60px;
    height: 60px;
}

.venue__info-location--wrapper {
    display: flex;
    align-items: center;
}

.venue__info-location {
    padding-left: 10px;
    letter-spacing: 4px;
}

.venue-thumb {
    position: absolute;
    right: 0;
    top: -6rem;
}

.venue-icon {
    width: 30px;
    height: 30px;
}

.venue-phone-img {
    margin-bottom: 5px;
}

.venue-icon-1 {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}


.venue-info-body {
    padding-right: 50px;
}

.text-white {
    font-size: 30px;
    letter-spacing: 2px;
}

/* STATISTICS OR ABOUT */
.statistic {
    background-image: url('../images/bg_releases.jpg');
    background-repeat: repeat;
    background-position: left;
    padding-top: 50px;
    position: relative;
    z-index: 1;
}

.statistic__title {
    font-family: 'Libertinus Serif Display';
    text-align: center;
    max-width: 430px;
    padding-top: 100px;
    margin: 0 auto;
    margin-bottom: 60px;
    position: relative;
}

.statistic__title::after {
    content: '';
    position: absolute;
    display: block;
    width: 200px;
    height: 2px;
    background-color: rgb(34, 76, 191);
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}

.statistics__container {
    display: flex;
    align-items: center;
}

.statistics__container-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistic__container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 20px;
    row-gap: 30px;
    font-family: 'Libertinus Serif Display';
}

.statistic__icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.statistic__icon-1 {
    width: 55px;
    height: 55px;
}

.statistic__icon-2 {
    width: 80px;
    height: 80px;
    margin-right: 0;
}

.statistic__icon-3 {
    width: 45px;
    height: 45px;
}

.statistic__icon-4 {}

.statistic__icon-5 {}

.statistic__icon-6 {
    width: 60px;
    height: 60px;
}

.statistic__container-text {
    padding-top: 20px;
    font-size: 18px;
    max-width: 390px;
    margin: 0 auto;
    color: #282828;
    /* font-weight: 300; */
}

.statistic__container-number {
    font-size: 24px;
    color: #05053c;
    display: inline;
}

.statistic__container-span {
    font-size: 24px;
    color: #05053c;
    display: inline;

}

.statistic__container-item {
    text-align: center;
    background-color: #fff;
    box-shadow: 4px 3px 13px 0px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    height: 250px;

    position: relative;

    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.statistic__container-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: #0093E9;
    transition: .2s all ease-in-out;
}

.statistic__container-item:hover::after {
    height: 6px;
}

.statistic__container-item:hover {
    transform: scale(1.1);
    z-index: 5;
}

/* CONTACT */
.contact {
    background-image: url('../images/bg_releases.jpg');
    background-repeat: repeat;
    position: relative;
    z-index: 1;
}

.contact__title {
    letter-spacing: 5px;
}

.submit__btn {
    background-color: #005a9e;
}

/* LINKS */
.links {
    font-family: 'Libertinus Serif Display';
    background-color: rgb(250, 252, 255);
    padding: 100px 0;
    z-index: 2;
}

.links__title {
    max-width: 416px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.links__slider-inner {
    /* max-width: 1800px;
    margin: 0 auto; */
}

.links__slider-box {
    display: flex;
}

.links__slider-img--cover {
    max-width: 300px;
    height: 100px;
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
    padding-top: 15px;
}

.links__slider-img {
    width: auto;
    height: 50px;
}

.links__slider-item {
    display: block;
    text-align: center;
}

.item {
    padding: 0 50px;
    border-right: 1px solid rgba(98, 106, 107, 0.287);
}

.links__slider-text {
    display: block;
    height: 150px;
    max-width: 250px;
    margin: 0 auto;
}

.links__slider-link {
    display: block;
    font-size: 18px;
    height: 40px;
    letter-spacing: 1px;
}

.links__arrows-cover {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.links__arrow-left {
    cursor: pointer;
    margin-right: 30px;
}

.links__arrow-right {
    cursor: pointer;
}

/* FOOTER */
.footer {
    /* background-color: #0688d3; */
    background-image: url('../images/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: auto;
    padding: 50px 100px 35px 100px;
    color: #fff;
    overflow: hidden;
    position: relative;
    z-index: 1;
    box-shadow: 0px -46px 32px -17px rgba(34, 60, 80, 0.1);
    /* background-color: rgba(8, 34, 80, 0.63); */
}

.footer::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(8, 34, 80, 0.6);
    opacity: .5;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.footer__container {
    display: flex;
    margin-top: 90px;
    margin-bottom: 60px;
    justify-content: space-between;
}

.footer::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 12rem;
    background-color: #fff;
    opacity: .5;
}

.footer__logo-wrapper {
    display: block;
    max-width: 100px;
    height: 100px;
}

.footer__logo {
    display: block;
    width: 500px;
    padding-bottom: 40px;
}

.footer__box {
    margin-bottom: 30px;
}

.footer__box-wrapper {
    display: flex;
}

.footer__box-title {
    margin: 0 auto;
    letter-spacing: 3px;
}

.footer__title {
    max-width: 300px;
    position: relative;
    margin-bottom: 60px;
    color: rgb(255, 255, 255);
}

.footer__title::before {
    content: '';
    position: absolute;
    width: 25%;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: -10px;
}

.footer__menu {
    margin-bottom: 10px;
    /* max-width: 175px; */
}

.footer__menu ul li a {
    color: #ebebe5f7;
}

.footer__menu-list {
    margin-bottom: 25px;
}

.footer__menu-title {
    width: 390px;
    font-size: 27px;
    margin-bottom: 20px;
    color: #fff;
}

.footer__menu-link,
.footer__menu-mail {
    display: inline-block;
    padding-left: 25px;
    position: relative;
    transition: .5s all;
    margin-bottom: 20px;
}

.footer__menu-link::before {
    content: '';
    position: absolute;
    background-image: url('../images/phone.svg');
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 1px;
    width: 20px;
    height: 20px;
}

.footer__menu-mail {
    padding-left: 30px;
}

.footer__menu-mail::before {
    content: '';
    position: absolute;
    background-image: url('../images/mail.svg');
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 2px;
    width: 20px;
    height: 20px;
}

.footer__menu-link::after,
.footer__menu-mail::after {
    content: '';
    display: block;
    height: 1px;
    width: 0%;
    background: rgb(211, 204, 204);
    opacity: .5;
    transition: .5s all;
}

.footer__menu-link:hover:after,
.footer__menu-mail:hover:after {
    width: 100%;
}

.footer__text {
    max-width: 300px;
}

.footer__social .social-links {
    margin-bottom: 20px;
}

.social__icon-img {
    width: 30px;
    height: 30px;
}

.social__icon-img:hover {
    fill: #fff;
    stroke: #fff;
}

.footer__btn {
    /* border: 1px solid #406785; */
    /* box-shadow: 0px 1px 16px -1px rgba(34, 60, 80, 0.15); */
    outline: 1px solid #000;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    font-size: 16px;
    padding: 10px 5px;
    color: #fff;
    transition: .5s all;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 488px;
}

.footer__btn:hover {
    box-shadow: 0px 1px 16px 9px rgba(34, 60, 80, 0.15);
    outline: transparent;
}

.copyright-text-wrap {
    max-width: 755px;
    text-align: center;
    margin: 0 auto;
}

.copyright-text-wrap p {
    color: #fff;
}


.page__header {
    height: 250px;
    background-image: url('../images/bg-news-2.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
    font-family: 'Libertinus Serif Display';
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
}

.page__header::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: .5;
    z-index: -1;
}


/* TO OTHER PAGES */
.menu__title {
    color: #fff;
    max-width: 1500px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    padding-left: 47px;
    margin-bottom: 10px;
    position: relative;
}

.menu__title::after {
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    left: 7px;
    top: 50%;
}

.page__title {
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    max-width: 1500px;
    margin-top: 10px;
    letter-spacing: 2px;
    z-index: 2;
    font-size: 60px;
}

/* MAGNIFIC POPUP STYLES */
.mfp-zoom-in {
    /* start state */
    /* animate in */
    /* animate out */
}

.mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}

.mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1);
}

.mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .mfp-with-anim {
    transform: scale(0.8);
    opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}