@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    align-items: center;
    background: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}

.tree {
    width: 100%;
    max-width: 1900px;
    height: auto;
    text-align: center;
    font-size: 12px;
    /* background-color: #000; */
}

.tree__menu {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}

.grand__child {
    background-color: #eafaf9;
    max-width: 210px;
}

.tree .grand__child span {
    color: #151105;
    font-weight: 500;
}

.great__child-wrapper {
    display: flex;
    flex-direction: column;
}

.great__child-text {
    max-width: 160px;
}

.tree ul {
    padding-top: 20px;
    position: relative;
    transition: .5s;
}

.tree li {
    display: inline-table;
    text-align: center;
    list-style-type: none;
    position: relative;
}

.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    /* width: 51%; */
    height: 10px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

.tree li:only-child:after,
.tree li:only-child:before {
    display: none;
}

.tree li:only-child {
    padding-top: 0;
}

.tree li:first-child:before,
.tree li:last-child:after {
    border: 0 none;
}

.tree li:last-child:before {
    border-right: 1px solid #ccc;
    border-radius: 0px 5px 0px 0px;
}

.tree li:first-child:after {
    border-radius: 5px 0px 0px 0px;
}

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.tree a {
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-grid;
    border-radius: 5px;
    text-decoration-line: none;
    border-radius: 5px;
    transition: .5s;
}

.tree a img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px !important;
    border-radius: 100px;
    margin: auto;
}

.tree a span {
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
    padding: 8px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

/* Hover Section */

.tree li a:hover,
.tree li a:hover img,
.tree li a:hover span,
.tree li a:hover+ul li a {
    background: #c8e4f8;
    color: #000;
    bottom: 1px solid #94a0b4;
    box-shadow: 0px 0px 8px -5px #5f5f5f;
}

.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before {
    border-color: #94a0b4;
}

/* Header */
ul,
li {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header__title {
    font-size: 50px;
    letter-spacing: 2px;
}

/* Menu */
.nav-item {
    position: relative;
}

.menu__list {
    position: absolute;
    width: 450px;
    transform: scaleY(0);
    transform-origin: top;
    background-color: #273053;
}

.nav-item:hover .menu__list {
    transform: scaleY(1);
}

.menu__list-item {
    padding: 0;
    margin: 0;
    padding: 8px 5px 8px 0;

}

.menu__list-item+.menu__list-item {
    border-top: 1px solid rgba(0, 0, 0, .4);
}

.menu__list-link {
    padding-left: 5px;
    color: #fff;
    opacity: .8;
}

.drop-down-1::after {
    content: '';
    display: block;
    position: relative;
    left: 0;
    top: -34px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    clip-path: polygon(50% 100%, 0 50%, 100% 50%);
}

.activated {
    transform: scaleY(1);
}

.glasses {
    width: 50px;
    height: 10px;
    margin-left: 30px;

}

.volume {
    width: 30px;
    height: 50px;
    margin-left: 20px;
}

.lang {
    position: relative;
    margin-left: 30px;
    margin-top: 12px;
}

.lang a {
    color: #fff;
}

.lang::after {
    content: '';
    display: block;
    position: relative;
    left: -16px;
    top: -20px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    clip-path: polygon(50% 100%, 0 50%, 100% 50%);

}

.menu__lang {
    position: absolute;
    background: #273053;
    display: none;
    width: 100px;
    top: 30px;
}

.menu__lang-item {
    padding-right: 30px;
    font-size: 16px;
}

.menu__lang-item+.menu__lang-item {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.menu__lang-link {
    color: #fff;
    padding-left: 6px;
    padding-right: 30px;
}

/* News Box */
.news__box {
    /* min-width: 1000px; */
    /* background-color: rgba(0, 0, 0, 0.6); */
    /* border-radius: 30px; */
    /* box-shadow: -14px 11px 12px 4px rgba(34, 60, 80, 0.2); */

}

.news__wrapper {
    /* padding: 80px 70px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    max-width: 1920px;
}

.news__text-wrapper {
    margin-left: 55px;
}

.news__title {
    /* max-width: 382px; */
    font-size: 50px;
    margin-bottom: 20px;
    /* line-height: 30px; */
    text-align-last: center;

}

.news__title-link {
    color: rgba(255, 255, 255, 0.9);

}

.news__text {
    max-width: 500px;
    margin: 0 auto;
    transition: 0.5s;
    font-size: 17px;
}

.news__text-link {
    color: rgba(255, 255, 255, 0.9);
}

.news__text:hover {
    color: rgb(141, 228, 246);
}

.news__image {
    max-width: 600px;
    border-radius: 10px;
    margin-bottom: 40px;
    height: 500px;
    object-fit: cover;
}

/* News List */
.news__list-container {
    margin-top: 200px;
    position: relative;
}

.news__list-item {
    text-align: center;
    background-color: rgba(85, 97, 118, 0.7);
}

.news__list-box {
    max-width: 1000px;
    margin: 0 auto;
}

.news__list-img {
    max-width: 300px;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.news__list-title {
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
}

.news__list-text {
    color: rgba(255, 255, 255, 0.7);

}

.arrow__prev, .arrow__next {
    position: absolute;
    font-size: 25px;
    cursor: pointer;
}

.arrow__prev {
    top: 50%;
    left: 40px;
}

.arrow__next {
    top: 50%;
    right: 40px;
}

.arrow__prev-img, .arrow__prev-img {
    width: 50px;
    height: 50px;
}

/* Uzb map */
.uzb__map {
    max-width: 1200px;
}