/* Header */
ul,
li {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

/* Logo */
.logo {
    width: 100%;
    height: 70px;
}

/* Menu */
.dropdown-1 {
    position: relative;
    cursor: pointer;
    transition: 0.6s all;
    border-radius: 5px;
    height: 60px;
}

a {
    color: #000;
}
.navbar a, .navbar-collapse a {
    color: #fff;
}

.navbar-collapse a:hover {
    opacity: .7;
}

.menu__list {
    position: absolute;
    left: -70px;
    top: calc(100%);
    border-radius: 2.5px;
    visibility: hidden;
    opacity: 0;
    background-color: #2b42aa;
    margin: 0;
    padding: 0;
    box-shadow: 2px 2px 0 2px rgba(0, 0, 0, .3);
    transition: .4s all;
    transition-delay: 250ms;
    text-align: center;
    border-radius: 30px;
    overflow: hidden;
}

.dropdown-1:hover .menu__list {
    opacity: 1;
    visibility: visible;
}

.menu__list-link {
    display: block;
    padding: 5px 10px;
    width: 300px;
    color: #fff;
    transition: .5s all;
    border-radius: 20px;
}

.menu__list-link:hover {
    background-color: #4461db;
    color: #fff;
}

.dropdown-1::after {
    content: '';
    display: block;
    position: relative;
    left: -10px;
    top: -34px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    clip-path: polygon(50% 100%, 0 50%, 100% 50%);
    transition: .3s all;
}

.dropdown-1:hover:after {
    transform: rotate(180deg);
}

.glasses {
    width: 50px;
    height: 10px;
    margin-left: 30px;
}

.volume {
    width: 30px;
    height: 50px;
    margin-left: 20px;
}

.lang {
    position: relative;
    margin-left: 30px;
    margin-top: 12px;
}

.lang a {
    color: #fff;
    display: block;
}

.lang::after {
    content: '';
    display: block;
    position: relative;
    left: -16px;
    top: -20px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    clip-path: polygon(50% 100%, 0 50%, 100% 50%);

}

.menu__lang {
    position: absolute;
    background: #273053;
    display: none;
    width: 100px;
    top: 30px;
}

.menu__lang-item {
    padding-right: 30px;
    font-size: 16px;
}

.menu__lang-item+.menu__lang-item {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.menu__lang-link {
    color: #fff;
    padding-left: 6px;
    padding-right: 30px;
}

/* HEADER */
.hero {
    /* height: calc(90vh - 84px); */
    height: 100vh;
    z-index: 1;
    display: flex;
    object-fit: cover;
}

.news__wrapper {
    height: 90vh;
    max-width: 700px;
    background-color: #5b69d6;
    display: flex;
    flex-direction: column;
}

.news__box {
    margin-top: 80px;
}

.news__item {
    max-width: 1000px;
    height: 690px;
    text-align: left;
}

.news__container {
    margin-left: 20px;
}

.news__title {
    color: #fff;
    margin-bottom: 50px;
    font-size: 30px;
    max-width: 500px;
    letter-spacing: 5px;
    line-height: 50px;
    margin-bottom: 80px;
}

.news__img-box {
    width: 100%;
    overflow: hidden;
}


.news__img-item {
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-position: center center;
    object-fit: cover;
    max-width: 100%;
    height: 90vh;
}


.news__btn {
    padding: 10px 20px;
    background-color: #285ff6;
    color: #fff;
    border-radius: 5px;
    transition: .5s;
    opacity: 1;
    font-size: 24px;
}

.news__btn:hover {
    background-color: #2aabe4;
    color: #fff;
    opacity: .7;
}

.news__date {
    color: #FECF03;
    margin-left: 10px;
    font-size: 20px;
}

.arrows__container {
    bottom: 10px;
    padding: 20px 10px 20px 10px;
    background-color: rgba(255, 255, 255, 0.33);
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    margin-top: 9px;
}

.arrow__prev,
.arrow__next {
    width: 20px;
    height: 20px;
    display: block;
}

.arrow__prev {
    margin-right: 5px;
}

.arrow__next {
    margin-left: 5px;
}

.arrow__prev-cover,
.arrow__next-cover {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.slick-arrow:hover {
    opacity: .8;
}

/* Statistic */
.about {
    padding-top: 50px;
}

.statistics__container {
    display: flex;
    align-items: center;
}

.statistic__container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 20px;
    row-gap: 30px;
}

.statistic__icon {
    width: 30px;
    height: 30px;
}

.statistic__container-text {
    padding-top: 20px;
    font-size: 18px;
    max-width: 390px;
    margin: 0 auto;
    color: #282828;
    font-weight: 300;
}

.statistic__container-number {
    font-size: 24px;
    color: #05053c;
    display: inline;
}

.statistic__container-span {
    font-size: 24px;
    color: #05053c;
    display: inline;

}

.statistic__container-item {
    text-align: center;
    background-color: #fff;
    box-shadow: 4px 3px 13px 0px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    height: 250px;

    position: relative;

    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.statistic__container-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    transition: .2s all ease-in-out;
}

.statistic__container-item:hover::after {
    height: 6px;
}

/* interactive */
.pricing .row {
    min-width: 1600px;
}

.interactive__title {
    max-width: 875px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.interactive__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1545px;
}

.interactive__item {
    max-width: 330px;
    margin: 0 auto;
}

.interactive__item {
    margin-right: 50px;
}

.interactive__img {
    max-width: 90px;
    height: 80px;
    margin: 0 auto;
}

.pricing__body-text--wrapper {
    height: 220px;
}

.pricing-body__title {
    font-size: 20px;
    height: 80px;
}

.btn__interactive {
    background-color: #fff;
    color: #000;
}

/* MAP */
.uzb__map-title {
    font-size: 50px;
}

.uzb__map svg path {
    /* fill: #00394f; */
    height: 652px;
    stroke: #eee;
    stroke-width: .25;
    width: 1000px;
}

.uzb__map svg path:hover {
    fill: #C7C7C7;
    transition: .6s;
    cursor: pointer;
}

.region__container {
    position: relative;
    right: 0;
    height: 0;
}

.venue-thumb {
    position: absolute;
    right: 0;
    top: -6rem;
}

.venue-info-body {
    padding-right: 50px;
}

.text-white {
    font-size: 30px;
}

/* CONTACT */
.contact {
    margin-bottom: 50px;
}

/* LINKS */
.links__slider-container {
    z-index: 3;
}

.links__slider-box {
    z-index: 1;
}

.links__slider-item {
    display: block;
    max-width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 20px 0px rgb(110 110 110 / 20%);
    text-align: center;
    height: 250px;
    padding: 0 15px;
    margin-right: 15px;
}

.links__slider-img--container {
    padding-top: 15px;
    width: 215px;
}

.links__slider-img {
    margin: 0 auto;
    width: auto;
    height: 50px;
}

.links__slider-text {
    display: block;
    max-width: 215px;
    height: 130px;
    padding-top: 10px;
}

.links__slider-link {
    margin-top: 30px;
    font-size: 16px;
}

.links__slider-box .slick-dots {
    position: absolute;
    display: flex;
    right: 0;
    top: -4rem;
}

.links__slider-box .slick-dots li button {
    position: relative;
    display: block;
    line-height: 0;
    color: transparent;
    background: transparent;
    border: 0;
    outline: 0;
    border-radius: 50%;
    font-size: 0;
    width: 20px;
    height: 20px;
    padding: 5px;
}

.links__slider-box .slick-dots .slick-active {
    opacity: .6;
}

.links__slider-box .slick-dots li button::before {
    font-family: 'slick';
    font-size: 25px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    color: #0dcaf0;
}